body{
    background-color: black;
    color: white;
}
a:link{
    color: aquamarine;
}
a:visited{
    color: plum;
}
/* 
*/
p h2, h3, h4, h5{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

iframe{
    width: 800px;
    height: 300px;
    
}
p{
    text-indent: 30px;
}
img{
    border-radius: 10%;
    max-width: 90%;
    padding: 10px;
    transition-duration: 0.4s;
}
img:hover{
    max-width: 95%;
}
img.portrait{
    
    float:left;
    max-width: 40%;
}
header {
    background-image: linear-gradient(to bottom, red, blue);
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 15px 15px 0px 0px;
}
nav{
    display: flex;
    width : 100%;
    justify-content: center;
}
button{
    position:sticky;
    transition-duration: 0.2s;
    padding: 10px;
    border : 2px solid blue;
    background-color: blue;
    color: rgb(255, 255, 255);
}
button:hover{
    background-color: rgb(0, 58, 165);
    border :2px solid red;
    cursor: pointer;
}
#buttonleft{
    border-radius: 0px 0px 0px 15px;}

#buttonright{
    border-radius: 0px 0px 15px 0px;
}
table, th, td{
    width: 100%;
    border: 1px solid green;
    padding: 10px;
}
.lefthalf{
float: left;
max-width: 50%
}
.righthalf{
float: right;
max-width: 50%
}