body {
    background-color: black;
    color: white;
}

/*  links were difficult to see 
*/
a:link {
    color: aquamarine;
}

a:visited {
    color: plum;
}

/* default font & text color
*/
p h2,
h3,
h4,
h5 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* width and hight for the iframe on the front page
*/
iframe {
    width: 50%;
}

/* automatic indentation for only paragraphs, not headers 
*/
p {
    text-indent: 30px;
}

/*  Default image styling
*/
img {
    border-radius: 10%;
    max-width: 90%;
    padding: 10px;
    transition-duration: 0.4s;
}

/*  images in the "cool images tab" to expand on hover
*/
img:hover {
    max-width: 95%;
}

/* this locks the self portrait so it doesn't expand and mess up the text wrapping
*/
img.portrait {
    float: left;
    width: 30%;
}
/* main header styling with gradient 
*/
header {
    background-image: linear-gradient(to bottom, red, blue);
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 15px 15px 0px 0px;
}

/* nav bar 
*/
nav {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* button styling for nav bar 
*/
.linkbutton, #buttonleft, #buttonright{
    
}

/*button hover effect - changes the border to red 
*/
.linkbutton:hover, #buttonleft:hover, #buttonright:hover{
    background-color: rgb(0, 58, 165);
    border: 2px solid red;
    cursor: pointer;
}

/* rounds the left and rightmost buttons 
*/
#buttonleft {
    border-radius: 0px 0px 0px 15px;
}

#buttonright {
    border-radius: 0px 0px 15px 0px;
}

/* table formatting 
*/
table,
th,
td {
    width: 100%;
    border: 1px solid green;
    padding: 10px;
}

/* scaling for the images so the remain in 2 distinct columns - yes i could've also called them columns instead of leftmost and rightmost
*/
.lefthalf {
    float: left;
    max-width: 50%;
}

.righthalf {
    float: right;
    max-width: 50%
}